*{
    padding: 0;
    margin: 0;
}


    .contenedor {
        width:90%;
        height:auto;
        margin: auto;
        background:rgba(30, 180, 130, 0.3);
        text-align: center;
  }
    .header{
        width:100%;
        height:auto;
        text-align: center;
        background:tomato;
        padding:10%;
        box-sizing: border-box;
    }
    .banner{
        
    }
    .nav{
        width: 100%;
        height: auto;
        padding: 2%;
        box-sizing: border-box;
        background:#1eb482;
        margin-top: 1%;
    }
    .contenido{
        width: 100%;
        height: auto;
        background: tomato;
        margin-top:1%;
        padding-bottom:10%;
        padding-top: 5%;
        box-sizing: border-box;
        
    }
    .titulo{
        font-size:28px;
        padding-bottom: 10%;
        box-sizing: border-box;
    }
    .articulo{
        width: 25%;
        height: 200px;
        padding: 1%;
        box-sizing: border-box;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        display: inline-block;
    }
    .art1{
        margin-left:8.33%; 
    }
    .art2{
        margin-left:auto;
        margin-right:auto;
        
    }
    .art3{
        margin-right:8.33%;
        
    }
    .color1{
        background:#1e9db4;
    }
    .color2{
        background:#1eb43a;
    }
    .footer{
        padding: 10%;
        box-sizing: border-box;
        background: tomato;
        margin-top: 1%;
    }

@media screen and (max-width:800px){
      .contenedor {
        width:96%;
        height:auto;
        margin: auto;
        background:rgba(30, 180, 130, 0.3);
        text-align: center;
  }
    .header{
        width:100%;
        height:auto;
        text-align: center;
        background:tomato;
        padding:5%;
        box-sizing: border-box;
    }
    .banner{
        
    }
    .nav{
        width: 100%;
        height: auto;
        padding: 2%;
        box-sizing: border-box;
        background:#1eb482;
        margin-top: 1%;
    }
    .contenido{
        width: 100%;
        height: auto;
        background: tomato;
        margin-top:1%;
        padding-top: 5%;
        box-sizing: border-box;
        
    }
    .titulo{
        font-size:28px;
        padding-bottom: 10%;
        box-sizing: border-box;
    }
    .articulo{
        width: 35%;
        height: 250px;
        padding: 1%;
        box-sizing: border-box;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
        display: inline-block;
    }
    .art1{
        margin-left:auto; 
    }
    .art2{
        margin-left:auto;
        margin-right:auto;
        
    }
    .art3{
        margin-right:auto;
        
    }
    .color1{
        background:#1e9db4;
    }
    .color2{
        background:#1eb43a;
    }
    .footer{
        padding: 10%;
        box-sizing: border-box;
        background: tomato;
        margin-top: 1%;
    }
}

@media screen and (max-width:425px){
    .contenedor {
        width:100%;
        height:auto;
        margin:0;
        background:rgba(30, 180, 130, 0.3);
        text-align: center;
  }
    .header{
        width:100%;
        height:auto;
        text-align: center;
        background:tomato;
        padding:30%;
        box-sizing: border-box;
    }
    .banner{
        
    }
        
    }
    .contenido{
        width: 100%;
        height: auto;
        background: tomato;
        margin-top:1%;
        padding-top: 5%;
        box-sizing: border-box;
        
    }
    .titulo{
        font-size:28px;
        padding-bottom: 10%;
        box-sizing: border-box;
    }
    .articulo{
        width: 95%;
        height: 150px;
        padding-left:2.5%;
        padding-right: 2.5%;
        box-sizing: border-box;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        display:inline-block;
    }
    .art1{
        margin-left:auto; 
    }
    .art2{
        margin-left:auto;
        margin-right:auto;
        
    }
    .art3{
        margin-right:auto;
        
    }
    .color1{
        background:#1e9db4;
    }
    .color2{
        background:#1eb43a;
    }
    .footer{
        padding: 10%;
        box-sizing: border-box;
        background: tomato;
        margin-top: 1%;
    }
}